SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=fadhliiyed1@gmail.com
SMTP_PASSWORD=tyksqgozjpgttlws
GOOGLE_CLIENT_ID=973197665347-4l7t3evlg9nqpl6gi559ksnbg8pgk8mc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8888/callback
GOOGLE_CALLBACK_PORT=8888
